<header class="site-header">
	<div class="branding">
			<div style="float: right;">
					<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
							<a class="navbar-brand" href="#">
								<img src="/assets/img/avatar.png" width="30" height="30" class="d-inline-block align-top" alt="">
								Dev_Hyuk
							</a>
							<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
							  <span class="navbar-toggler-icon"></span>
							</button>
						
							<div class="navbar-collapse collapse" id="navbarsExample09" style>
							  <ul class="navbar-nav mr-auto">
								<li class="nav-item active">
								  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Algorithm</a>
										<div class="dropdown-menu">
										  <a class="dropdown-item" href="/Algorithm/AL_Library">라이브러리</a>
										  <a class="dropdown-item" href="/Algorithm/AL_Problem">문제풀이</a>
										</div>
									  </li>
						  
						  
									  <li class="nav-item dropdown">
										  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Data Structure</a>
										  <div class="dropdown-menu">
											<a class="dropdown-item" href="/Data_Structure/DS_Library">라이브러리</a>
											<a class="dropdown-item" href="/Data_Structure/DS_USE">활용</a>
										  </div>
									  </li>
						  
						  
									  <li class="nav-item dropdown">
										  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Web</a>
										  <div class="dropdown-menu">
											  <a class="dropdown-item" href="/Web/Front_End">프론트 엔드</a>
											  <a class="dropdown-item" href="/Web/Back_End">백 엔드</a>
										  </div>
									  </li>
						  
						  
									  <!-- 추후 시큐어코딩 공부시작하면 -->
									  <!-- <li class="nav-item dropdown">
									  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Security</a>
									  <div class="dropdown-menu">
										  <a class="dropdown-item" href="/Security/Secure Coding">시큐어 코딩</a>
										  <div class="dropdown-divider"></div>
										  <a class="dropdown-item" href="#">Separated link</a>
									  </div>
									  </li> -->
						  
									  <li class="nav-item dropdown">
											  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Others</a>
											  <div class="dropdown-menu">
												  <a class="dropdown-item" href="/Others/Git">Git</a>
												  <a class="dropdown-item" href="/Others/Docker">Docker</a>
												  <a class="dropdown-item" href="/Others/Linux">Linux</a>
												  <a class="dropdown-item" href="/Others/Elk">Elk</a>
											  </div>
									  </li>
						  
									  <li class="nav-item">
										  <a class="nav-link active" href="/about">About me</a>
									  </li>
								</ul>
							</div>
					</nav>
				</div>
				
	</div>


</header>
